/* CSS Document */

@import '_partials/mixins';

$bordergrey: #ddd;
$backgroundgrey: #f3f3f3;

/********************* Global Settings *********************/

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	transition:color 0.3s, background-color 0.3s, border-color 0.3s;
}
html, body {
	position:relative;
	line-height:1.5;
	font-family:"BrutalType",sans-serif;
	color:$darkgrey;
	background-color:$backgroundgrey;
	font-weight:300;
	letter-spacing: calc-viewport(1);
	font-size:calc-viewport(20);

	@include MQ(L) {
		font-size:calc-viewport(16,L);
	}
}
h1, .h1 {
	font-size:calc-viewport(60);
	font-weight:300;
	line-height:1.1;
	text-transform: uppercase;
	margin-bottom:calc-viewport(15);
	letter-spacing: calc-viewport(2);

	@include MQ(L) {
		font-size:calc-viewport(40,L);
	}
	@include MQ(M) {
		font-size:calc-viewport(35,M);
	}
}
h2, .h2 {
	font-size:calc-viewport(30);
	font-weight:300;
	line-height:1.2;
	letter-spacing: calc-viewport(2);

	@include MQ(L) {
		font-size:calc-viewport(32,L);
	}
}
h4, .h4 {
	color:$yellow;
	font-size:calc-viewport(20);
	font-weight:300;
	text-transform: uppercase;
	margin-bottom:calc-viewport(10);
	letter-spacing: calc-viewport(2);

	@include MQ(L) {
		font-size:calc-viewport(16, L);
	}
	@include MQ(M) {
		font-size:calc-viewport(14, M);
	}
}
p {
	margin-bottom:calc-viewport(20);
	font-size:calc-viewport(20);

	@include MQ(L) {
		margin-bottom:calc-viewport(20,L);
		font-size:calc-viewport(16,L);
	}
}
i, em {
	font-style:italic;
}
b, strong {
	font-weight:700;
}
input,
textarea,
select {
	-webkit-appearance:none;
	-moz-appearance:none;
	font-family:inherit;
	border-radius:0;
	font-weight:300;
}

/* disable webkit autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: color 0.3s, background-color 5000s ease-in-out 0s, border-color 0.3s;
}

span.break {
	display: block;
}

/********************* CSS support *********************/

.description {
	font-size:calc-viewport(14);
}
ul.links, ul.tabs {
	margin:calc-viewport(10) 0 calc-viewport(20) !important;
	padding:0 !important;
	border-bottom:1px solid #333;
}
ul.links li, ul.tabs li {
	margin:0 !important;
	list-style:none;
	display:inline-block;
	margin-right:calc-viewport(10);
	padding:calc-viewport(5);
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear:before,
.clear:after {
	content: " ";
	display: table;
}

.clear:after {
	clear: both;
}
.clear {
	*zoom: 1;
}
.icon {
	font-family:"FontAwesome";
	font-weight:300;
}
.full-width-box {
	max-width:calc-viewport(1420);
	margin:0 auto;
	padding:0 calc-viewport(60);

	@include MQ(XL) {
		max-width:calc-viewport(1000);
	}
	@include MQ(L) {
		padding-left:calc-viewport(22,L);
		padding-right:calc-viewport(22,L);
		max-width: none;
	}
}
.form-wrapper.form-error {
	.form-item.form-type-textfield {

		label {
			color:$red;
		}
	}
	// .message-form-error {
	// 	display:block;
	// }
	.form-text {
		border-color:$red;
	}
}
.form-item {
	position:relative;

	.form-error-wrapper {
		display:none;
		margin-bottom:calc-viewport(23);

		.message-form-error {
			position:relative;
			background-color:$lightred;
			// top:calc-viewport(10);
			// left:0;
			border:1px solid $red;
			font-size:calc-viewport(16);
			padding:calc-viewport(5) calc-viewport(10);
			margin-bottom:calc-viewport(12);
			display:inline-block;
			vertical-align: top;
			border-top-left-radius:calc-viewport(5);
			border-top-right-radius:calc-viewport(5);
			border-bottom-right-radius:calc-viewport(5);

			@include MQ(L) {
				font-size:calc-viewport(16,L);
				padding:calc-viewport(5,L) calc-viewport(10,L);
				margin-bottom:calc-viewport(12,L);
				border-top-left-radius:calc-viewport(5,L);
				border-top-right-radius:calc-viewport(5,L);
				border-bottom-right-radius:calc-viewport(5,L);
			}
			&:before {
				content: "";
				position: absolute;
				bottom: calc-viewport(-12);
				left: -1px;
				border-width: calc-viewport(12) calc-viewport(12) 0 0;
				border-style: solid;
				border-color: $red transparent;
				display: block;
				width: 0;

				@include MQ(L) {
					bottom: calc-viewport(-12,L);
					border-width: calc-viewport(12,L) calc-viewport(12,L) 0 0;
				}
			}
			&:after {
				content: "";
				position: absolute;
				bottom: calc-viewport(-10);
				left: 0;
				border-width: calc-viewport(12) calc-viewport(12) 0 0;
				border-style: solid;
				border-color: $lightred transparent;
				display: block;
				width: 0;

				@include MQ(L) {
					bottom: calc-viewport(-10,L);
					border-width: calc-viewport(12,L) calc-viewport(12,L) 0 0;
				}
			}
			.fa {
				color:$red;
				font-size:calc-viewport(30);
				display:inline-block;
				margin-right:calc-viewport(10);
				vertical-align: middle;
				line-height:1;

				@include MQ(L) {
					font-size:calc-viewport(30,L);
					margin-right:calc-viewport(10,L);
				}
			}
		}
	}
	label {
		display:block;
		font-size:calc-viewport(18);
		line-height:1;
		margin-bottom:12px;
		letter-spacing:calc-viewport(2);

		@include MQ(L) {
			font-size:calc-viewport(18,L);
			line-height:1.25;
		}
		.form-required {
			display:none;
		}
	}
	.description {
		font-size:calc-viewport(14);
		max-width:calc-viewport(570);
		margin-bottom:calc-viewport(25);

		@include MQ(L) {
			font-size:calc-viewport(14,L);
			margin-bottom:calc-viewport(18,L);
			font-weight:200;
			max-width:none;
		}
	}
	.form-text {
		border-top:0;
		border-left:0;
		border-right:0;
		border-bottom:2px solid $darkgrey;
		background:none;
		width:100%;
		font-size:calc-viewport(24);
		height:calc-viewport(60);
		padding:0 calc-viewport(40);
		outline:none;
		box-shadow:none;

		@include MQ(L) {
			font-size:calc-viewport(24,L);
			height:calc-viewport(60,L);
			padding:0 calc-viewport(10,L);
		}
	}
	&.form-type-radios,
	&.form-type-checkboxes {
		padding-top:calc-viewport(30);

		.select-dropdown-click {
			font-size:calc-viewport(16);
			border-radius:calc-viewport(4);
			border:1px solid #ccc;
			position: relative;
			padding:calc-viewport(14) calc-viewport(22);
			margin-bottom:calc-viewport(18);
			cursor: pointer;
			position:relative;

			@include MQ(L) {
				border-radius:calc-viewport(4,L);
				font-size:calc-viewport(18,L);
				padding:calc-viewport(14,L) calc-viewport(20,L);
			}
			&:hover {
				background-color:#e2e2e2;
			}
			.fa {
				font-size:calc-viewport(38);
				color:$darkgrey;
				display:block;
				position:absolute;
				right:calc-viewport(22);
				top:50%;
				transform:translateY(-50%);

				@include MQ(L) {
					font-size:calc-viewport(28,L);
					right:calc-viewport(20,L);
				}
			}
		}
		.form-radio,
		.form-checkbox {
			display:none;

			+ label {
				font-size:calc-viewport(16);
				border-radius:calc-viewport(4);
				border:1px solid #ccc;
				position: relative;
				padding:calc-viewport(14) calc-viewport(22);
				margin:0;

				@include MQ(L) {
					font-size:calc-viewport(16,L);
					border-radius:calc-viewport(4,L);
					padding:calc-viewport(14,L) calc-viewport(18,L);
				}
				&:hover {
					background-color:#e2e2e2;
				}
			}
			&:checked + label {
				background-color:$yellow;

				&:after {
					content: "\ea10";
					color:$darkgrey;
					display:block;
					position:absolute;
					right:calc-viewport(22);
					top:50%;
					transform:translateY(-50%);
					font-family: 'IcoMoon-Free';

					@include MQ(L) {
						right:calc-viewport(20,L);
					}
				}
			}
		}
	}
}
.field-type-list-text {
	@extend .clear;
}
.form-type-checkbox {
	float:left;
	width:49%;
	margin-bottom:calc-viewport(18);

	@include MQ(L) {
		float:none;
		width:auto;
		margin-bottom:calc-viewport(10,L);
	}
	&:nth-child(even) {
		float:right;

		@include MQ(L) {
			float:none;
		}
	}
}
.form-radios {
	display:none;

	.form-type-radio {
		margin-bottom:calc-viewport(18);
	}
}
.form-submit {
	@extend .btn-theme;

	border:0;
	cursor: pointer;
}
.btn-theme {
	font-weight:300;
	font-size:calc-viewport(16);
	text-transform:uppercase;
	color:$darkgrey;
	background-color:$yellow;
	border-radius:calc-viewport(5);
	display:inline-block;
	padding: calc-viewport(15) calc-viewport(28);
	text-decoration: none;

	@include MQ(L) {
		font-size:calc-viewport(16,L);
		border-radius:calc-viewport(5,L);
		padding: calc-viewport(15,L) calc-viewport(28,L);
	}
	&:hover {
		background-color:$blue;
		color:#fff;
	}
}
.one-line-text {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/********************* Page Layout *********************/

#wrapper {

	position:relative;
}
#block-locale-language {
	position:absolute;
	width:calc-percent(126, 1280);
	top:calc-viewport(20);
	right:calc-viewport(30);
	z-index: 10;
	color:#fff;

	@include MQ(L) {
		width:calc-viewport(100, L);
		top:calc-viewport(27,L);
		right:calc-viewport(25,L);
	}
	h2 {
		font-size:calc-viewport(16);
		font-weight:300;
		text-align: right;
		margin-bottom:calc-viewport(5);
		cursor: pointer;

		@include MQ(L) {
			font-size:calc-viewport(16,L);
			font-weight:500;
		}

		&:after {
			font-weight:300;
			font-family:"FontAwesome";
			content:"\f0d7";
			display:inline-block;
			margin-left:calc-viewport(20);

			@include MQ(L) {
				margin-left:calc-viewport(12,L);
			}
		}
	}
	.content {
		display:none;
		background-color:rgba(darken($blue,20),0.8);
		padding:calc-viewport(10) calc-viewport(15);
		font-size:calc-viewport(12);

		@include MQ(L) {
			font-size:calc-viewport(12,L);
		}
		.language-switcher-locale-url {
			li {
				border-bottom:1px solid #fff;

				&.last {
					border-bottom:0;
				}
				a {
					color:inherit;
					text-decoration:none;
					display:block;
					padding:calc-viewport(5) 0 calc-viewport(7);

					&.active {
						font-weight:700;
					}
				}
			}
		}
	}
}
#container {
	position:relative;
}
.region-content ul, .region-content ol {
	margin-bottom:calc-viewport(10);
	padding-left:calc-viewport(30);
}
.region-content ul {
	list-style-type: circle;
}
.region-content ol {
	list-style-type: decimal;
}
.region-content li {
	margin:calc-viewport(10) 0;
}
#footer {
	background-color:$darkgrey;
	color:#fff;
	padding-top:calc-viewport(38);
	padding-bottom:calc-viewport(38);
	line-height:1;

	@include MQ(L) {
		padding-top:calc-viewport(32,L);
		padding-bottom:calc-viewport(28,L);
	}
	#footer-inner {
		@extend .clear;
		@extend .full-width-box;

		@include MQ(L) {
			padding-left:calc-viewport(25,L);
			padding-right:calc-viewport(25,L);
		}
		#footer-left {
			float:left;
			font-size:calc-viewport(12);

			@include MQ(L) {
				font-size:calc-viewport(12,L);
				float:none;
				margin-bottom:calc-viewport(18,L);
			}
			.company-name {
				text-transform: uppercase;
				margin-bottom:calc-viewport(22);
				font-weight:700;
				letter-spacing:calc-viewport(2);

				@include MQ(L) {
					margin-bottom:calc-viewport(20,L);
				}
			}
			.yellow-bar {
				background-color:$yellow;
				width:calc-viewport(30);
				height:calc-viewport(2);
				margin-bottom:calc-viewport(20);

				@include MQ(L) {
					width:calc-viewport(30,L);
					height:calc-viewport(2,L);
					margin-bottom:calc-viewport(16,L);
				}
			}
			.address {
				margin-bottom:calc-viewport(16);
				line-height: 1.25;

				@include MQ(L) {
					margin-bottom:calc-viewport(16,L);
				}
			}
			.contact {
				a {
					color:$darkyellow;
				}
				.phone {
					display:inline-block;
					padding-right:calc-viewport(15);
					border-right:1px solid $darkyellow;
				}
				.email {
					display:inline-block;
					padding-left:calc-viewport(10);
				}
			}
		}
		#footer-right {
			float:right;
			padding-top:calc-viewport(46);
			font-size:calc-viewport(9);
			color:#999;

			@include MQ(L) {
				font-size:calc-viewport(9,L);
				float:none;
			}
			.logo {
				margin-bottom:calc-viewport(10);

				@include MQ(L) {
					margin-bottom:calc-viewport(12,L);
				}
			}
		}
	}
}
#popup-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.7);
	z-index: 9999;

	#popup-inner {
		position: absolute;
		top:50%;
		left: 50%;
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		box-shadow: 0 0 calc-viewport(10) #333;
		background-color: #fff;
		padding:calc-viewport(30);
		text-align:center;
		opacity:0;

		.btn-close {
			text-align:center;
			display: block;
			width: calc-viewport(28);
			line-height:calc-viewport(28);
			height: calc-viewport(28);
			border-radius:50%;
			position: absolute;
			right: calc-viewport(5);
			top: calc-viewport(5);
			color:$darkgrey;
			text-decoration: none;
		}
		#popup-content {
			position: relative;

			iframe {
				width: 100%;
				height:80vh;
			}
		}
	}
	&.gallery-video {
		#popup-inner {
			width:80vw;
		}
	}
	&.popup-ajax {
		#popup-content {
			height:80vh;
			overflow:auto;
			padding:0 calc-viewport(15);
			text-align: left;
		}
	}
}


/********************* Page Specific *********************/

/* Hero banners */

.node-hero-banner {
	position:relative;
	color:#fff;
	padding-left:calc-percent(20,1280);

	@include MQ(L) {
		padding-left:calc-viewport(15,L);
		padding-bottom:calc-viewport(20,L);
	}
	.bg-blue-under {
		position:absolute;
		top:calc-percent(143,600);
		left:0;
		width:calc-percent(20,1280);
		height: calc-percent(434,600);
		background-color:$blue;

		@include MQ(L) {
			top:calc-viewport(143,L);
			width:calc-viewport(162,L);
			height:auto;
			bottom:0;
		}
	}
	.hero-banckground {
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		min-height:100vh;
		position: relative;
		z-index: 5;
		padding:calc-percent(180,1260) calc-percent(60,1260) calc-percent(50,1260) calc-percent(40,1260);

		@include MQ(L) {
			padding:calc-viewport(160,L) calc-viewport(25,L) calc-viewport(20,L) calc-viewport(10,L);
		}
		@include MQ(M) {
			padding-top:calc-viewport(180,M);
		}
		.bg-darken-over {
			@include MQ(L) {
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				z-index: 2;
				background-color:rgba(0,0,0,0.3);
			}
		}
		.bg-blue-over {
			position:absolute;
			top:calc-percent(143,600);
			left:0;
			width:calc-percent(177,1260);
			height:calc-percent(434,600);
			background-color:rgba(darken($blue,20),0.8);

			@include MQ(L) {
				top:calc-viewport(143,L);
				height:auto;
				bottom:0;
				width:calc-viewport(147,L);
			}
		}
		.content {
			position: relative;
			z-index: 5;
			width:calc-percent(520,1160);

			@include MQ(L) {
				width:65%;
			}
			@include MQ(M) {
				width:auto;
			}
			.field-name-body {
				margin-bottom:calc-viewport(45);
				font-weight:200;

			}
			.btn-theme {
				line-height:calc-viewport(28);
				padding-left:calc-viewport(26);
				padding-right:calc-viewport(26);

				@include MQ(L) {
					line-height:calc-viewport(28,L);
				}
				&:hover {
					svg {
						fill:#fff;
					}
				}
				svg {
					width:calc-viewport(28);
					height:calc-viewport(28);
					display:inline-block;
					vertical-align: bottom;
					fill:$darkgrey;

					@include MQ(L) {
						width:calc-viewport(28,L);
						height:calc-viewport(28,L);
					}
				}
			}

		}
	}
}

/* Registration page */
.page-user-register {
	background-color:#fff;

	#block-block-1 {
		@extend .full-width-box;

		padding-top:calc-viewport(74);
		font-weight:200;

		@include MQ(L) {
			padding-top:calc-viewport(28,L);
		}
		h2 {
			position: relative;
			padding: calc-viewport(45) calc-viewport(15) calc-viewport(20);
			background-color:$yellow;
			border-radius: calc-viewport(5);
			font-size:calc-viewport(32);
			margin:0 auto calc-viewport(37);
			width:calc-viewport(180);
			line-height: 1;
			font-weight:300;

			@include MQ(L) {
				width:calc-viewport(166,L);
				margin:0 0 calc-viewport(45,L);
				font-size:calc-viewport(32,L);
				border-radius: calc-viewport(5,L);
				padding: calc-viewport(44,L) calc-viewport(14,L) calc-viewport(20,L);
			}
			&:after {
				content: "";
				position: absolute;
				bottom: calc-viewport(-18);
				left: calc-viewport(14);
				border-width: calc-viewport(20) calc-viewport(20) 0 0;
				border-style: solid;
				border-color: $yellow transparent;
				display: block;
				width: 0;

				@include MQ(L) {
					bottom: calc-viewport(-18,L);
					left: calc-viewport(14,L);
					border-width: calc-viewport(20,L) calc-viewport(20,L) 0 0;
				}
			}
		}
		.content {
			max-width:calc-percent(470);
			margin:0 auto;
			text-align:center;
			font-size:calc-viewport(16);

			@include MQ(L) {
				max-width:none;
				text-align:left;
				font-size:calc-viewport(16,L);
			}
		}
	}
	.view-registration-sections {
		padding:calc-viewport(25) 0 calc-viewport(30);

		@include MQ(L) {
			padding:calc-viewport(35,L) calc-viewport(25,L) 0;
		}
		.view-content {
			@extend .full-width-box;
			@extend .clear;

			@include MQ(XL) {
				padding-left:0;
				padding-right:0;
			}
		}
		.views-row {
			float:left;
			width:17%;
			margin-right:3.75%;
			text-align:center;

			@include MQ(L) {
				margin-right:0;
				margin-bottom:calc-viewport(48,L);
				width:48%;
			}
			&.views-row-odd {
				@include MQ(L) {
					clear:both;
				}
			}
			&.views-row-even {
				@include MQ(L) {
					float:right;
				}
			}
			&.views-row-last {
				margin-right:0;

				&.views-row-odd {
					@include MQ(L) {
						float:none;
						clear:both;
						margin:0 auto calc-viewport(30,L);
					}
				}
			}
		}
		.views-field-field-vector {
			padding:0 calc-viewport(15);
			height:calc-viewport(130);
			margin-bottom:calc-viewport(10);
			display: flex;
			justify-content: center;
			flex-direction: column;

			@include MQ(L) {
				height:calc-viewport(120,L);
				margin-bottom:calc-viewport(20,L);
			}
			img {
				max-height:calc-viewport(130);

				@include MQ(L) {
					max-height:calc-viewport(120,L);
				}
			}
		}
		.views-field-name {
			font-size:calc-viewport(18);
			text-transform:uppercase;
			margin-bottom:calc-viewport(8);
			letter-spacing:calc-viewport(2);

			@include MQ(L) {
				font-size:calc-viewport(18,L);
				margin-bottom:calc-viewport(8,L);
			}
			@include MQ(S) {
				letter-spacing: calc-viewport(1);
				font-size:calc-viewport(14,S);
			}
		}
		.section-description-body {
			p {
				font-size:calc-viewport(14);
			}
		}
	}
	#block-block-2 {
		max-width:calc-viewport(280);
		margin:0 auto calc-viewport(56);
		text-align:center;
		font-size:calc-viewport(12);

		@include MQ(L) {
			max-width:none;
			margin:0 calc-viewport(25,L) calc-viewport(38,L);
			font-size:calc-viewport(14,L);
		}
		p.disclaimer {
			font-size:inherit;
		}
		.btn-theme {
			margin-bottom:calc-viewport(20);

			@include MQ(L) {
				display:block;
				margin-bottom:calc-viewport(25,L);
			}
		}
	}
	#block-menu-block-1 {
		position:relative;
		height:calc-viewport(100);
		z-index: 5;

		@include MQ(L) {
			height:calc-viewport(70,L);
		}
		.menu-block-1 {
			position:absolute;
			top:0;
			left:0;
			right:0;
			background-color:$yellow;

			@include MQ(L) {
				height:calc-viewport(70,L);
			}
			&.sticky {
				position:fixed;
			}
			ul {
				max-width:calc-viewport(720);
				margin:0 auto;

				@include MQ(L) {
					max-width:none;
				}
				li {
					float:left;
					width:1/6*100%;
					opacity:0.2;
					transition:opacity 0.3s;

					@include MQ(L) {
						opacity:1;
						width:auto;
						float:none;
					}
					&.first {
						opacity:1;
					}
					&.link-hidden {
						display:none;

						@include MQ(L) {
							display:block;
						}
					}
					&.section-active {
						opacity:1;

						& + li {
							opacity:1;
						}
					}
					a {
						color:$darkgrey;
						text-decoration:none;
						height:calc-viewport(100);
						display:block;
						font-size:calc-viewport(12);
						position:relative;
						text-align:center;
						border-top:calc-viewport(5) solid transparent;
						border-bottom:calc-viewport(5) solid transparent;
						display: flex;
						justify-content: center;
						flex-direction: column;

						@include MQ(L) {
							font-size:calc-viewport(21,L);
							display:block;
							overflow:hidden;
							height:0;
							line-height:calc-viewport(70,L);
							transition:height 0.5s;
							padding:0 calc-viewport(25,L);
							text-align: left;
							border:0;
						}
						&.active-section {
							background-color:$darkyellow;
							border-bottom-color:$darkgrey;

							@include MQ(L) {
								background-color:transparent;
								border-bottom-color:transparent;
								height:calc-viewport(70,L);
							}
						}
						.image-svg {
							height:calc-viewport(40);
							width:calc-viewport(40);
							margin:0 auto;

							@include MQ(L) {
								height:calc-viewport(50,L);
								margin-right:calc-viewport(20,L);
								vertical-align: middle;
							}
						}
						.link-text {
							display:block;
							padding-top:calc-viewport(7);

							@include MQ(L) {
								display:inline-block;
								padding:0;
								text-transform: uppercase;
							}
						}
					}
					&.first a {
						padding:0 calc-viewport(20);

						&:after {
							display:block;
							position:absolute;
							content:"";
							width:1px;
							height:calc-viewport(30);
							background-color:$darkgrey;
							right:0;
							top:50%;
							margin-top:calc-viewport(-15);

							@include MQ(L) {
								content:normal;
							}
						}
					}
				}
			}
		}
	}
	#container {
		padding-bottom:calc-viewport(80);

		@include MQ(L) {
			padding-bottom:calc-viewport(70,L);
		}
		#user-register-form {
			legend {
				display:none;
			}
			.group-wrapper {
				padding-bottom:calc-viewport(38);
				display:none;

				@include MQ(L) {
					padding-bottom:calc-viewport(18,L);
				}
				&:nth-child(odd) {
					background-color:#f2f2f2;
				}
				&.section-complete {
					.fa-angle-down,
					.form-buttons {
						opacity:1;
						cursor:pointer;
					}
				}
				&.group_company_profile {
					display:block;
				}
				&.group_find_your_neighbourhood {
					padding-bottom:calc-viewport(108);

					.form-buttons {
						text-align: center;

						.form-submit {
							padding:calc-viewport(18) calc-viewport(95) calc-viewport(20);
						}
					}
					.group-find-your-neighbourhood {
						padding-bottom:calc-viewport(30);
					}
				}
				.field-group-div {
					@extend .full-width-box;

					padding-top:calc-viewport(92);
					padding-bottom:calc-viewport(70);
					transition:opacity 0.3s;

					@include MQ(L) {
						padding-top:calc-viewport(40,L);
					}
					.field-type-text,
					.field-type-list-text {
						opacity:0.2;
						transition:opacity 0.3s;

						@include MQ(L) {
							opacity:1;
						}
						&.form-error,
						&.active-form-item {
							opacity:1;
						}
					}
					&.group-company-profile {
						padding-bottom:calc-viewport(85);

						@include MQ(L) {
							padding-top:calc-viewport(52,L);
						}
						> .description {
							font-weight:200;
							margin-bottom:0;
						}
						.form-item.form-type-textfield {
							padding-top:calc-viewport(67);

							@include MQ(L) {
								padding-top:calc-viewport(52,L);
							}
							label {
								font-size:calc-viewport(18);
								line-height:1;
								margin-bottom:0;

								@include MQ(L) {
									font-weight:200;
									font-size:calc-viewport(18,L);
								}
							}
						}
					}
					> h2 {
						text-align:center;
						position:relative;
						text-transform: uppercase;
						margin-bottom:calc-viewport(20);

						@include MQ(L) {
							text-align: left;
							margin-bottom:calc-viewport(22,L);
						}
						&:after {
							content:"";
							display:block;
							background-color:$darkgrey;
							height:calc-viewport(3);
							max-width:calc-viewport(50);
							margin:calc-viewport(22) auto 0;

							@include MQ(L) {
								margin: 0;
								height:calc-viewport(3,L);
								max-width:calc-viewport(50,L);
							}
						}
						span {
							@include MQ(L) {
								padding-bottom:calc-viewport(22,L);
								display:block;
							}
						}
					}
					> .description {
						text-align:center;
						font-size:calc-viewport(16);
						max-width:calc-viewport(700);
						margin:0 auto calc-viewport(30);

						@include MQ(L) {
							font-size:calc-viewport(16,L);
							margin:0 auto calc-viewport(25,L);
							text-align:left;
							max-width:none;
							font-weight:300;
						}
					}
					.field-name-field-i-agree-to-the-legal-terms {
						text-align: center;

						@include MQ(L) {
							text-align:left;
						}
						.form-item {
							float:none;
							width:auto;

							.form-checkbox {
								display:none;

								&:checked + label {

									&:before {
										content:"\f00c";
									}
								}
							}
							label {
								display:inline-block;
								margin-right:calc-viewport(15);
								margin-bottom:0;
								vertical-align: middle;
								overflow:hidden;
								width:calc-viewport(20);
								height:calc-viewport(20);
								background-color:#fff;
								border:1px solid $darkgrey;
								font-size:calc-viewport(14);

								@include MQ(L) {
									margin-right:calc-viewport(15,L);
									width:calc-viewport(20,L);
									height:calc-viewport(20,L);
									font-size:calc-viewport(14,L);
								}
								&:before {
									display:block;
									line-height:calc-viewport(20);
									text-align:center;
									font-family:"FontAwesome";
									content:"";

									@include MQ(L) {
										line-height:calc-viewport(20,L);
									}
								}
							}
							.description {
								display:inline-block;
								font-weight:200;
								margin-bottom:0;

								a {
									font-weight:300;
									color:inherit;
								}
							}
						}
					}
				}
				.fa-angle-down,
				.form-buttons {
					opacity:0;
					cursor:default;
					transition:opacity 0.3s;
				}
				.click-next-section.fa-angle-down {
					display:block;
					text-align:center;
					text-decoration:none;
					line-height:1;
					font-size:calc-viewport(38);
					color:$darkgrey;

					@include MQ(L) {
						font-size:calc-viewport(38,L);
					}
				}
			}
			.form-actions {
				display:none;
			}
		}
		#completion-wrapper {
			position:fixed;
			z-index: 10;
			bottom:calc-viewport(-80);
			left:0;
			right:0;
			background-color:#fbfbfb;
			box-shadow:0 0 2px #ddd;
			padding:calc-viewport(15) 0;
			transition:bottom 0.3s;

			@include MQ(L) {
				bottom:calc-viewport(-70,L);
				padding:calc-viewport(10,L) 0;
			}
			&.sticky {
				bottom:0;
			}
			&.at-bottom {
				position: absolute;
			}
			#completion-inner {

				@include MQ(L) {
					padding-left:calc-viewport(12,L);
					padding-right:calc-viewport(12,L);
				}
				#completion-status {
					margin-right:calc-viewport(300);
					font-size:calc-viewport(14);

					@include MQ(L) {
						margin-right:calc-viewport(135,L);
						font-size:calc-viewport(14,L);
						margin-top:calc-viewport(6,L);
					}
					.completion-label {
						float:left;
						margin-bottom:calc-viewport(7);
					}
					.completion-percent {
						float:right;
					}
					.completion-bar {
						clear:left;
						overflow:hidden;
						border-radius: calc-viewport(7);
						background-color:#ebebeb;

						@include MQ(L) {
							border-radius: calc-viewport(7,L);
						}
						.completion-progress {
							height:calc-viewport(14);
							background-color:$blue;
							width:0;
							transition:width 0.5s;

							@include MQ(L) {
								height: calc-viewport(14,L);
							}
						}
					}
				}
				#completion-buttons {
					float:right;

					.btn-theme {
						vertical-align: top;
						margin-right:calc-viewport(5);
					}
					.register-form-submit {
						display:none;
						float:left;

						@include MQ(L) {
							display:none !important;
						}
						.btn-register-form-submit {
							font-size:calc-viewport(14);
							padding:calc-viewport(14) calc-viewport(48);
						}
					}
					.register-form-controls {
						float:left;

						.register-section-prev,
						.register-section-next {
							background-color:#ebebeb;
							color:$darkgrey;
							text-decoration: none;
							font-size:calc-viewport(34);
							padding:calc-viewport(8) calc-viewport(15);
							min-width:calc-viewport(34);

							@include MQ(L) {
								font-size:calc-viewport(34,L);
								margin-left:calc-viewport(5,L);
								padding:calc-viewport(8,L) calc-viewport(15,L);
							}
							&:hover {
								background-color:$yellow;
							}
						}
					}
				}
			}
		}
	}
}

/* Thank you page */

.page-node-3 {
	#wrapper {
		background-color:#fff;
		#container {
			padding:calc-viewport(38);
			background-color:#e4e4e4;

			@include MQ(L) {
				margin-left:0;
				padding:calc-viewport(18,L) 0;
			}
			#content {
				@extend .full-width-box;

				position:relative;
				padding-top:calc-viewport(25);

				@include MQ(L) {
					padding-top:calc-viewport(75,L);
				}
				.page-title {
					max-width:calc-viewport(500);

					@include MQ(L) {
						max-width:none;
						margin-bottom:calc-viewport(8,L);
					}
				}
				.region-content {
					max-width:calc-viewport(500);

					@include MQ(L) {
						max-width:none;
						font-weight:200;
						font-size: calc-viewport(16,L);
					}
				}
			}
		}
	}
}

/* login page */

#user-login {
	@extend .full-width-box;

	padding-top:calc-viewport(50);
	padding-bottom:calc-viewport(50);

	.form-item {
		margin-bottom:calc-viewport(20);
	}
}

/***********************David's Style Add on ***************************/
/*
.page-pdf-report {
	.information-introduction {
		padding-bottom: 0;
		padding-left: 0;
		background-color: $backgroundgrey;
		margin-bottom: 0;
		position: relative;
			.information-introduction-wrapper {
				background-color: $backgroundgrey;
					.page-title:before {
						left: inherit;
						right: calc-viewport(100);
					}
			}
		&:after {
			content: "";
			display: block;
			border-top: 5px solid $darkgrey;
			display: block;
			position: absolute;
			bottom: calc-viewport(45);
			left: calc-viewport(45);
			width: calc-viewport(60);
		}
	}
	.information-summary {
		padding-top: 0;
			.info-sum-group {
				.section_header {
					border-bottom: 0;
					padding-bottom: 0;
				}
			}
	}
}
.chat_bubble {
	display: inline-block;
	background-color: $yellow;
	padding: calc-viewport(15) calc-viewport(15) calc-viewport(10);
	position: relative;
	border-radius: calc-viewport(5);
	margin-bottom: 50px;
		h2 {
			font-size: calc-viewport(32);
			line-height: 1;
			font-weight: 300;
				.small_hash {
					font-size: calc-viewport(14);
				}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: calc-viewport(-15);
			left: 0;
			border-width: calc-viewport(20) calc-viewport(20) 0 0;
			border-style: solid;
			border-color: $yellow transparent;
			display: block;
			width: 0;
		}
}
*/
.page-confirmation-page {
	.messages {
		display:none;
	}
	.page-title {
		display:none;
	}
	#edit-new-submit {
		display:none;
	}
	#edit-profile-main{
		display:none;
	}
	.information-summary {
		@extend .full-width-box;

		background-color: $backgroundgrey;
		padding-top:calc-viewport(20);
		padding-bottom:calc-viewport(83);

		@include MQ(XL) {
			max-width:calc-viewport(940,XL);
		}
		@include MQ(L) {
			max-width:none;
			padding:calc-viewport(20,L) calc-viewport(15,L) calc-viewport(46,L);
		}
	}
	.information-introduction-wrapper {
		background-color: #e4e4e4;
		margin-bottom: calc-viewport(30);

		.summary_anchor {
			background-color:#fff;
			padding-top: calc-viewport(10);
			padding-bottom: calc-viewport(10);
			font-size:calc-viewport(16);

			@include MQ(L) {
				font-size:calc-viewport(16,L);
			}
			a {
				padding-left: calc-viewport(76);
				padding-right: calc-viewport(76);
				display:block;
				color: $darkgrey;
				text-decoration: none;
				margin:0 auto;
				max-width:calc-viewport(1420);

				@include MQ(XL) {
					max-width:calc-viewport(940,L);
				}
				@include MQ(L) {
					padding-left: calc-viewport(15,L);
					padding-right: calc-viewport(15,L);
				}
			}
			.fa {
				font-size: calc-viewport(30);
				vertical-align: middle;
				margin-left: calc-viewport(25);

				@include MQ(L) {
					font-size:calc-viewport(30,L);
				}
			}
		}
		.information-introduction-inner {
			max-width:calc-viewport(1420);
			padding: calc-viewport(65) calc-viewport(76) calc-viewport(30);
			position: relative;
			font-size:calc-viewport(18);
			margin:0 auto;

			@include MQ(XL) {
				max-width:calc-viewport(940,XL);
			}
			@include MQ(L) {
				padding: calc-viewport(90,L) calc-viewport(15,L) calc-viewport(18,L);
			}
			.summary-title {
				max-width:calc-viewport(300);

				@include MQ(L) {
					max-width: none;
				}
			}
			.field-name-body {
				max-width:calc-viewport(300);
				padding-bottom:calc-viewport(3);

				@include MQ(L) {
					max-width: none;
					font-weight:200;
					font-size:calc-viewport(16,L);
				}
			}
			.form-submit {
				padding-left:calc-viewport(45);
				padding-right:calc-viewport(45);

				@include MQ(L) {
					padding-left:calc-viewport(65,L);
					padding-right:calc-viewport(65,L);
				}
			}
		}
	}
	.info-sum-group {

		margin-bottom: calc-percent(60);

		.info-sum-fields {
			@extend .clear;

			margin-bottom: calc-percent(15);
			font-size:calc-viewport(18);

			@include MQ(L) {
				font-size:calc-viewport(18,L);
				border-bottom: 1px solid $bordergrey;
				padding:calc-viewport(22,L) 0;
				margin:0 calc-viewport(10,L);
			}
			&:nth-last-child(2) {
				@include MQ(L) {
					border-bottom: 0;
				}
			}
			.left-info {
				float:left;
				padding-left: calc-viewport(18);
				width: 35%;

				@include MQ(L) {
					float:none;
					width:auto;
					padding:0;
					font-weight:500;
				}
			}
			.right-info {
				margin-left:40%;

				@include MQ(L) {
					margin:0;
				}
			}
		}
		.section_header {
			@extend .clear;

			border-bottom: 1px solid $bordergrey;
			padding-bottom: calc-viewport(10);
			margin-bottom: calc-viewport(35);

			@include MQ(L) {
				margin-bottom: calc-viewport(0);
			}
			img.summary_icon {
				width: calc-viewport(50);
				height: calc-viewport(50);
				float: left;

				@include MQ(L) {
					height: calc-viewport(50,L);
					width: auto;
					margin-right: calc-viewport(20,L);
					margin-bottom: calc-viewport(16,L);
				}
			}
			h2 {
				padding-left: calc-viewport(16);
				font-size:calc-viewport(24);
				float: left;
				line-height: calc-viewport(70);
				margin-right: calc-viewport(15);
				text-transform: uppercase;

				@include MQ(L) {
					font-size:calc-viewport(21,L);
					line-height: calc-viewport(52,L);
					padding-left: 0;
				}
			}
			.edit-link {
				float: left;
				display: block;
				line-height: calc-viewport(70);
				font-size: calc-viewport(24);
				color: $darkgrey;

				@include MQ(L) {
					font-size:calc-viewport(21,L);
					line-height: calc-viewport(52,L);
				}
			}
		}
		.btn_wrapper {
			text-align: right;
			border-top: 1px solid $bordergrey;
			margin-top: calc-percent(42);

			@include MQ(L) {
				margin:0;
				padding:0 calc-viewport(10,L);
			}
			.edit-button {
				font-size:calc-viewport(16);
				border-radius:calc-viewport(4);
				border:1px solid $darkgrey;
				margin-top:calc-viewport(25);
				color: $darkgrey;
				text-decoration: none;
				height: calc-viewport(50);
				display: inline-block;
				width: calc-viewport(250);
				text-align: center;
				line-height: calc-viewport(50);
				transition: all 0.3s ease;

				@include MQ(L) {
					background-color: $yellow;
					color: $darkgrey;
					border-color: transparent;
					width:auto;
					display:block;
					line-height: calc-viewport(50,L);
					height:auto;
					border-radius:calc-viewport(4,L);
					font-size:calc-viewport(16,L);
					margin-top:calc-viewport(30,L);
				}
				&:hover {
					background-color: $yellow;
					color: $darkgrey;
					border-color: transparent;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.form-buttons .form_submit {
		font-size:calc-viewport(16);
		background-color: $yellow;
		border-radius:calc-viewport(4);
		margin-bottom:calc-viewport(18);
		margin-top:calc-viewport(25);
		color: $darkgrey;
		text-decoration: none;
		height: calc-viewport(50);
		display: inline-block;
		width: calc-viewport(230);
		text-align: center;
		line-height: calc-viewport(50);
		transition: all 0.3s ease;

		@include MQ(L) {
			font-size:calc-viewport(16,L);
			border-radius:calc-viewport(4,L);
			margin:calc-viewport(25,L) calc-viewport(23,L) calc-viewport(18,L);
			height: calc-viewport(50,L);
			width: auto;
			display:block;
			line-height: calc-viewport(50,L);
		}
	}
	.information-footer-wrapper {
		background-color:#fff;
		text-align:center;
		padding:calc-viewport(70);

		@include MQ(L) {
			text-align:left;
			padding:calc-viewport(70,L) calc-viewport(25,L) calc-viewport(106,L);
		}
		h2 {
			text-transform: uppercase;
			font-size:calc-viewport(28);
			max-width:calc-viewport(370);
			margin:0 auto calc-viewport(37);
			position: relative;
			padding-bottom:calc-viewport(30);

			@include MQ(L) {
				margin:0;
				font-size:calc-viewport(24,L);
				max-width:calc-viewport(230,L);
				padding-bottom:calc-viewport(22,L);
				margin-bottom:calc-viewport(30,L);
			}
			&:after {
				content:"";
				display:block;
				position:absolute;
				left:50%;
				bottom:0;
				margin-left:calc-viewport(-25);
				height:calc-viewport(3);
				background-color:$darkgrey;
				width:calc-viewport(50);

				@include MQ(L) {
					left:auto;
					margin:0;
					height:calc-viewport(2,L);
					width:calc-viewport(50,L);
				}
			}
		}
		.form-submit {
			@include MQ(L) {
				width:100%;
			}
		}
	}
}
