/* ACB: // This file has been commented by Auto-Comment-Bracket - https://github.com/Richard1320/Auto-Comment-Bracket */ 
// stylelint-disable declaration-no-important

.align-baseline    { vertical-align: baseline !important; } /* ACB: // .align-baseline */ // Browser default
.align-top         { vertical-align: top !important; } /* ACB: // .align-top */
.align-middle      { vertical-align: middle !important; } /* ACB: // .align-middle */
.align-bottom      { vertical-align: bottom !important; } /* ACB: // .align-bottom */
.align-text-bottom { vertical-align: text-bottom !important; } /* ACB: // .align-text-bottom */
.align-text-top    { vertical-align: text-top !important; } /* ACB: // .align-text-top */
