/* ACB: // This file has been commented by Auto-Comment-Bracket - https://github.com/Richard1320/Auto-Comment-Bracket */ 
// stylelint-disable declaration-no-important

//
// Border
//

.border         { border: $border-width solid $border-color !important; } /* ACB: // .border */
.border-top     { border-top: $border-width solid $border-color !important; } /* ACB: // .border-top */
.border-right   { border-right: $border-width solid $border-color !important; } /* ACB: // .border-right */
.border-bottom  { border-bottom: $border-width solid $border-color !important; } /* ACB: // .border-bottom */
.border-left    { border-left: $border-width solid $border-color !important; } /* ACB: // .border-left */

.border-0        { border: 0 !important; } /* ACB: // .border-0 */
.border-top-0    { border-top: 0 !important; } /* ACB: // .border-top-0 */
.border-right-0  { border-right: 0 !important; } /* ACB: // .border-right-0 */
.border-bottom-0 { border-bottom: 0 !important; } /* ACB: // .border-bottom-0 */
.border-left-0   { border-left: 0 !important; } /* ACB: // .border-left-0 */

@each $color, $value in $theme-colors {
  .border-#{$color} {
    border-color: $value !important;
  }
} /* ACB: // @each $color, $value in $theme-colors */

.border-white {
  border-color: $white !important;
} /* ACB: // .border-white */

//
// Border-radius
//

.rounded {
  border-radius: $border-radius !important;
} /* ACB: // .rounded */
.rounded-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
} /* ACB: // .rounded-top */
.rounded-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
} /* ACB: // .rounded-right */
.rounded-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
} /* ACB: // .rounded-bottom */
.rounded-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
} /* ACB: // .rounded-left */

.rounded-circle {
  border-radius: 50% !important;
} /* ACB: // .rounded-circle */

.rounded-0 {
  border-radius: 0 !important;
} /* ACB: // .rounded-0 */
