/* ACB: // This file has been commented by Auto-Comment-Bracket - https://github.com/Richard1320/Auto-Comment-Bracket */ 
// stylelint-disable declaration-no-important

.shadow-sm { box-shadow: $box-shadow-sm !important; } /* ACB: // .shadow-sm */
.shadow { box-shadow: $box-shadow !important; } /* ACB: // .shadow */
.shadow-lg { box-shadow: $box-shadow-lg !important; } /* ACB: // .shadow-lg */
.shadow-none { box-shadow: none !important; } /* ACB: // .shadow-none */
