/* ACB: // This file has been commented by Auto-Comment-Bracket - https://github.com/Richard1320/Auto-Comment-Bracket */ 
.media {
  display: flex;
  align-items: flex-start;
} /* ACB: // .media */

.media-body {
  flex: 1;
} /* ACB: // .media-body */
