/* ACB: // This file has been commented by Auto-Comment-Bracket - https://github.com/Richard1320/Auto-Comment-Bracket */ 
// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
} /* ACB: // .nav */

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  } /* ACB: // @include hover-focus */

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
  } /* ACB: // &.disabled */
} /* ACB: // .nav-link */

//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  } /* ACB: // .nav-item */

  .nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color;
    } /* ACB: // @include hover-focus */

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    } /* ACB: // &.disabled */
  } /* ACB: // .nav-link */

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
  } /* ACB: // .nav-link.active, .nav-item.show .nav-link */

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  } /* ACB: // .dropdown-menu */
} /* ACB: // .nav-tabs */


//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
  } /* ACB: // .nav-link */

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  } /* ACB: // .nav-link.active, .show > .nav-link */
} /* ACB: // .nav-pills */


//
// Justified variants
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  } /* ACB: // .nav-item */
} /* ACB: // .nav-fill */

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  } /* ACB: // .nav-item */
} /* ACB: // .nav-justified */


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  } /* ACB: // > .tab-pane */
  > .active {
    display: block;
  } /* ACB: // > .active */
} /* ACB: // .tab-content */
