/* ACB: // This file has been commented by Auto-Comment-Bracket - https://github.com/Richard1320/Auto-Comment-Bracket */ 
// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
} /* ACB: // h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 */

h1, .h1 { font-size: $h1-font-size; } /* ACB: // h1, .h1 */
h2, .h2 { font-size: $h2-font-size; } /* ACB: // h2, .h2 */
h3, .h3 { font-size: $h3-font-size; } /* ACB: // h3, .h3 */
h4, .h4 { font-size: $h4-font-size; } /* ACB: // h4, .h4 */
h5, .h5 { font-size: $h5-font-size; } /* ACB: // h5, .h5 */
h6, .h6 { font-size: $h6-font-size; } /* ACB: // h6, .h6 */

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
} /* ACB: // .lead */

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
} /* ACB: // .display-1 */
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
} /* ACB: // .display-2 */
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
} /* ACB: // .display-3 */
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
} /* ACB: // .display-4 */


//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
} /* ACB: // hr */


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
} /* ACB: // small, .small */

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
} /* ACB: // mark, .mark */


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
} /* ACB: // .list-unstyled */

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
} /* ACB: // .list-inline */
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  } /* ACB: // &:not(:last-child) */
} /* ACB: // .list-inline-item */


//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
} /* ACB: // .initialism */

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
} /* ACB: // .blockquote */

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  } /* ACB: // &::before */
} /* ACB: // .blockquote-footer */
